*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
img, picture, video, canvas { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
button { cursor: pointer; }
body { min-height: 100vh; }

